@import ribbons

$shadow: 0 40px 40px rgba(0, 0, 0, 0.9)
$content_background: url("/images/textures/crossword.png") repeat

body
  background: url(/images/textures/dust_scratches.png) repeat 
  // background: url(/images/backgrounds/photo-1456428199391-a3b1cb5e93ab.jpeg) no-repeat center center fixed
  // background-size: cover

#code_system_details
  // margin-top: 20px
  // padding: 10px
  // background: #eee
  // box-shadow: inset $shadow
  // border-radius: 2px
  // cursor: pointer
  // height: 300px
  // overflow-y: scroll
  // position: static
  // bottom: 0px
  // left: 0px

  h2
    text-shadow: 0 2px 2px rgba(0,0,0,.4)

  .logo
    max-height: 200px
    max-width: 200px
    object-fit: cover

#close-service-button
  position: absolute
  z-index: 20
  top: 90px
  right: 60px

service
  position: absolute
  z-index: 10
  top: 100px
  right: 70px

  // bottom: 100px
  left: 70px
  box-shadow: $shadow
  padding: 20px
  background: rgba(255, 255, 255, 0.9)

  img
    object-fit: cover


#account
  background: $content_background
  margin: 40px 20px

#system
  background: url(/images/backgrounds/photo-1437382944886-45a9f73d4158.jpeg) no-repeat center center fixed
  background-size: cover
  .tab-pane
    background: rgba(255,255,255,.8)

#results
  tbody
    tr:hover
      cursor: pointer
    tr.selected
      background-color: rgba(255,255,230,.8)
