//- h1 Visualizer
//- div(style="position: absolute; top: 50px; left: 50px; right: 50px; bottom: 50px;")
#visualization-container(style="width: 100%")
  directed-graph('[links]'='hierarchicalGraph.links','[nodes]'='hierarchicalGraph.nodes','(onNodeClicked)'='select($event)')
