#groups.container-fluid

    .row
        .col-sm-8
            h1 Group management
            .pull-right
                button.btn.btn-primary("(click)"="create()")
                    span.fa.fa-plus
                    |  Create a group
            p.text-help Groups are collections of users, and are usually used to ease the permissions management. When a role is assigned to a group, the role is automatically applied to all members.
            .clearfix
            .row
                .col-md-4("*ngFor"="let group of groups")
                    a("(click)"="select(group)") {{group.name}}
            hr
        .col-sm-4("*ngIf"="group")

            h2
                | Edit
                .btn-group.pull-right
                    button.btn.btn-sm.btn-primary("(click)"="update(group)")
                        span.fa.fa-cloud-upload
                        |  Save
                    button.btn.btn-sm.btn-danger("(click)"="delete(group)")
                        span.fa.fa-trash
                        |  Delete
            hr
            form.form
                .form-group
                    label(for="group_name") Name
                    input.form-control(type="text" name="group_name" "[(ngModel)]"="group.name")

                    small
                        i ID: {{group.id}}
                .form-group
                    label(for="group_description") Description
                    textarea.form-control(type="text" name="group_description" "[(ngModel)]"="group.description")
            dl
                dt UUID
                dd {{group.id}}
                dt Created
                dd {{group.created_at}}
                dt Updated
                dd {{group.updated_at}}
            //- a.btn.btn-default.btn-small(href="{{group.url}}.json" target="_blank") JSON
