include layout/navigation

//- button.btn.btn-default.pull-right("*ngIf"="status.permissions?.everything?.manage" "[routerLink]"="['/system']")
    span.fa.fa-cogs
    //- |  System&nbsp;

.jumbotron(*ngIf="!codeSystems")
    //- h1 Loading this things.
.container-fluid#home(*ngIf="codeSystems")
    .row
        .col-sm-6
          h1
            | QuickTerm 
            small FHIR client
        .col-md-6
            small.pull-right
                | using 
                a('[href]'='quickTermService.url' target="_blank") {{quickTermService.url}}
    .row
        form.form-inline.col-md-10
            .form-group
                .input-group
                    //- label(for='code_system_select') Code System&nbsp;
                    .input-group-prepend
                        i.input-group-text.fa.fa-fire
                    select.form-control.form-control#code_system_select(name="code_system_select" "[(ngModel)]"="codeSystem" "(change)"="selectCodeSystem()")
                        option("*ngFor"="let cs of codeSystems" "[ngValue]"="cs") {{cs.name}} ({{cs.version}})
                    a.btn.btn-default(role="button" data-toggle="collapse" data-target="#code_system_details")
                        u details

        form.form-inline.col-md-2
            .form-group
                .input-group
                    .input-group-prepend
                        i.input-group-text.fa.fa-list
                    select.form-control.form-control#result_limit(name='result_limit' "[(ngModel)]"="resultLimit")
                        option("*ngFor"="let l of getLimits()" "[ngValue]"="l") {{l}}
                    //- label(for="result_limit") &nbsp;results
                    span
                        i.fa.fa-spinner.fa-spin(*ngIf="searching")
        form.col-sm-12.form("*ngIf"="codeSystem")
            hr
            .form-group
                .input-group
                    .input-group-prepend
                        i.input-group-text.fa.fa-search
                    input.form-control(autofocus="true" type="search" "[(ngModel)]"='searchFilter' name="search_text" "(keyup)"="search()" placeholder="")
                    //- span.input-group-btn
                        button.btn.btn-primary(type='submit' "[disabled]"="!validSearch()" "(click)"="search()")
                            span.fa.fa-search
                            |  Search
    .row#results("*ngIf"="results")
            .col-md-4
                table.table.table-condensed.table-striped.table-hover
                    thead.thead-dark
                        tr
                            th Display
                            th Code
                    tbody
                        tr("*ngFor"="let n of results.expansion.contains" '(click)'="selectValueSet(n)" '[class.selected]'='n == valueSet')
                            td {{n.display}}
                            td {{n.code}}
            .col-md-8
                .jumbotron(*ngIf="!valueSet && results.length > 0")
                    h1 You should really select something.
                dl.dl-horizontal
                    dt
                    dd
                    dt
                    dd
                    dt
                    dd
                    dt
                    dd
                    dt
                    dd
    #code_system_details.collapse.show("*ngIf"="codeSystem")
        .card.card-body
            .row
                .col-sm-6
                    button.btn.btn-info.pull-left(data-toggle="collapse" data-target="#code_system_details") X
                    h2 &nbsp;{{codeSystem.name}}
                    hr
                    dl.dl-horizontal
                        dt Version
                        dd {{codeSystem.version}}
                        dt Name
                        dd {{codeSystem.name}}
                        dt Status
                        dd {{codeSystem.status}}
                        dt Experimental
                        dd {{codeSystem.experimental}}
                        dt Date
                        dd {{codeSystem.date}}
                        dt publisher
                        dd {{codeSystem.publisher}}
                .col-sm-6
                    dl.dl-horizontal
                        dt Description
                        dd {{codeSystem.description}}
                        dt Copyright
                        dd {{codeSystem.copyright}}
                        dt Case Sensitive
                        dd {{codeSystem.caseSensitive}}
                        dt Value Set
                        dd {{codeSystem.valueSet}}
                        dt Hierarchy Meaning
                        dd {{codeSystem.hierarchyMeaning}}
                        dt Compositional
                        dd {{codeSystem.compositional}}
                        dt Version Needed?
                        dd {{codeSystem.versionNeeded}}
                        dt Content
                        dd {{codeSystem.content}}
    //- .row
        .col-md-4("*ngFor"="let s of services")
            .service("(click)"='select(s)')
                //- .thumbnail.pull-left
                //-     img(src="{{s.url}}/logo/medium")
                //- h2 {{s.name}}

                .row
                    .col-sm-6
                        //- .thumbnail
                        img.logo(src="{{s.url}}/logo/medium")
                    .col-sm-6
                        h2 {{s.name}}
                    .col-sm-12
                        hr
                        p {{s.description}}
    //- button#close-service-button.btn.btn-default("*ngIf"='service' "(click)"="select(null)") Close
    //- service("*ngIf"='service' "[service]"='service' "[licenses]"='licenses' "[status]"='status')
