footer.fixed-bottom
    hr
    p.text-center
        span
            a(href="https://github.com/preston/quickterm")
                span.fa.fa-file
                |  Code 

        span
            a(href="https://www.linkedin.com/in/prestonvictorlee")
                span.fa.fa-user
                |  Author 
