//- footer.footer
    hr
    p.text-center
        //- span
            a(href="#faq")
                span.icon.icon-question
                |  FAQ

        //- span
            a(href="#legal")
                span.fa.fa-legal
                |  Legal

        span
            a(href="https://github.com/preston/quickterm")
                span.fa.fa-file
                |  Code

        span
            a(href="https://www.linkedin.com/in/prestonvictorlee")
                span.fa.fa-user
                |  Author
