footer.fixed-bottom.text-center
    span A UMLS license is required to use this software, as all content is copyrighted to its respective authors.
    br
    span Software available under Apache 2.0 license. Copyright © 2018 Preston Lee.
    div.footer-item-container
      div.footer-item
          a(href="https://github.com/preston/tastyterm")
              span(style='margin: .3em;').fa.fa-file.pull-left
              |  [Code]
      div.footer-item
          a(href="https://github.com/preston/tastyterm/issues")
              span(style='margin: .3em;').fa.fa-bug.pull-left
              |  [Request a Features/Fix]
      div.footer-item
          a(href="https://hub.docker.com/r/p3000/tastyterm/")
              span(style='margin: .3em;').fa.fa-server.pull-left
              |  [Docker Image]
      //- span
          a(href="https://www.linkedin.com/in/prestonvictorlee")
              span.fa.fa-user
              |  Author
