footer.fixed-bottom.text-center
    span A UMLS license is required to use this software, as all content is copyrighted to its respective authors.
    br
    span Software available under Apache 2.0 license. Copyright © 2018 Preston Lee. 
    span
        a(href="https://github.com/preston/tastyterm")
            span.fa.fa-file
            |  [Code] 
    span
        a(href="https://github.com/preston/tastyterm/issues")
            span.fa.fa-bug
            |  [Request a Features/Fix] 
    span
        a(href="https://hub.docker.com/r/p3000/tastyterm/")
            span.fa.fa-server
            |  [Docker Image] 
    //- span
        a(href="https://www.linkedin.com/in/prestonvictorlee")
            span.fa.fa-user
            |  Author 
