footer
  mat-card.footer-body
    span A UMLS license is required to use this software, as all content is copyrighted to its respective authors.
    br
    span Software available under Apache 2.0 license. Copyright © 2018 Preston Lee.
    a(href="https://github.com/preston/tastyterm") [Code]&nbsp;
    a(href="https://github.com/preston/tastyterm/issues") [Request a Features/Fix]&nbsp;
    a(href="https://hub.docker.com/r/p3000/tastyterm/") [Docker Image]&nbsp;
