toaster-container
mat-toolbar('color'='primary')
  span TastyTerm :: smart-on-fhir terminology
  span.toolbar-spacer
  span
    small
      | Using:&nbsp;
      a('[href]'='quickTermService.url' target="_blank", style="color:white;") {{quickTermService.url}}
