toaster-container
mat-toolbar('color'='primary')
  mat-chip-list(style="margin-right:5px;")
    mat-chip('color'="accent") Beta
  span TastyTerm :: smart-on-fhir terminology
  span.toolbar-spacer
  span
    small
      | Using:&nbsp;
      a('[href]'='quickTermService.url' target="_blank", style="color:white;") {{quickTermService.url}}
